.tag {
  font-size: 0.7em;
  color: black;
  background-color: #d6dce4;
  border: 1px solid #bcbcbc;
  padding: 0.2em 0.6em;
  display: inline-block;
  border-radius: 5px;
}

.tag:not(:last-child) {
  margin-right: 0.25em;
}

.tag:hover {
  cursor: pointer;
  background-color: #9CB0C9;
}
