.tag {
  font-size: 0.7em;
  border-radius: 5px;
  padding: 0.2em 0.4em;
  display: inline;
  border: 1px solid rgb(130, 133, 116);
  background-color: rgb(220, 240, 230);
}

.tag:not(:last-child) {
  margin-right: 0.6em;
}

.tag:hover {
  background-color: #fffff0;
  cursor: pointer;
}