.icon {
  box-sizing: content-box;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  background-color: transparent;
  border: 2px solid white;
}

.icon.active:hover {
  cursor: pointer;
  border: 2px solid #565656;
  border-radius: 5px;
}

.icon:not(:last-child) {
  margin-right: 0.25em;
}

.icon[data-type="home"] {
  background-image: url("../../assets/images/home.jpg");
}

.icon[data-type="email"] {
  background-image: url("../../assets/images/mail-square-social-media.svg");
}

.icon[data-type="flickr"] {
  background-image: url("../../assets/images/flickr-square-social-media.svg");
}

.icon[data-type="rss"] {
  opacity: 0.25;
  background-image: url("../../assets/images/feed-subscription-square-filled-button.svg");
}

.icon[data-type="tagcloud"] {
  background-image: url("../../assets/images/tagcloud.svg");
}
